<div class="span3"></div>
<div class="span6">
  <fieldset style="width:50%;">
    <legend>Login with Mingle Credentials</legend>

    <%= simple_form_for @session do |f| %>
        <% @session.errors.full_messages.each do |msg| %>
        <div class="<%= flash_class(:alert) %>">
        <button class="close" data-dismiss="alert">×</button>
          <p><%= msg %></p>
         </div>   
        <% end %>

        <label for="session_name">Email</label><br />
        <%= f.text_field :email %><br />

        <label for="session_password">Password</label><br />
        <%= f.password_field :password %><br />

        <%= submit_tag "login", :class=>"btn btn-primary" %>

    <% end %>

  </fieldset>
</div>
