<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>Card Number</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
    </thead>

    <tbody>
    <%@db_cards.each do |card| %>
        <tr class="card_<%=card.id%>">
          <td><%= link_to card.number,show_card_projects_path(:id=>card.id), :class => "btn btn-primary" %></td>
          <td><%= truncate(card.url,:length=>25) %></td>
          <td><%= truncate(Sanitize.clean(card.description), :length=>50)  %></td>
          <td><%= link_to 'Delete', destroy_card_projects_path(:id=>card.id), { class: 'btn btn-danger', remote: true, method: :delete , :data => { :confirm => 'Are you sure?' }}%></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>


