<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Card Number</th>
      <th>Name</th>
      <th>Description</th>
      <th>Estimate</th>
    </tr>
    </thead>

    <tbody>
      <%@dbzz_cards.each do |card| %>
        <tr>
          <td><%= card.number %></td>
          <td><%= truncate(card.url,:length=>25) %></td>
          <td><%= truncate(Sanitize.clean(card.description), :length=>50)  %></td>
          <td><%= card.estimate %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>


<%= simple_form_for "email_notify", :url=> 'send_email',:method => :get do |f| %>
    <%= f.input :comment, as: :text , input_html: {style: 'height:100px; width:300px;'}  %>
    <%= f.input :url, :as => :hidden, :input_html => { :value => request.url} %>
    <%= f.button :submit , 'Send Email Notification' %>
<% end %>
