<%if @user.is_admin %>
  <%@db_cards = Card.where(:project_id=> @project.id).where("estimation is null") %>
  <%=button_tag "Pull Cards", id: "pull_cards", :class => "btn btn-info" %>
  <%= image_tag("ajax-loader.gif", :style=>"display:none;", :id => "loader")%>
  <%=button_tag "List User Estimated Cards", id: "user_estimate_cards", :class => "btn btn-info" %>
  <%= image_tag("ajax-loader.gif", :style=>"display:none;", :id => "loader")%>
  <%= render :partial => "merge_cards" unless @db_cards.blank? %>
<div id = "past_cards"></div>
<div id= "show_estimated_cards"></div>
<%else%>
  <%= render :partial => "merge_cards" %>
<%end%>


<% if @user.is_admin %>
<%= simple_form_for "email_notify", :url=> 'send_email',:method => :get do |f| %>
  <%= f.input :comment, as: :text , input_html: {style: 'height:100px; width:300px;'}  %>
  <%= f.input :url, :as => :hidden, :input_html => { :value =>  "http://23.21.128.221:3000/projects"} %>
   <%= f.button :submit , 'Send Email Notification' %>
<% end %>
<% end %>

<script>
    $('#pull_cards').click(function() {
        $("#loader").show();
        $('#remove_cards').hide();
        $.ajax({
            url: "/projects/pull_cards",
            data: {project_name :'<%=params[:project][:name] if params[:project]%>'}
        });
    });

    $('#user_estimate_cards').click(function() {
      $("#loader").show();
      $('#remove_estimation_cards').hide();

        $.ajax({
            url: "/projects/show_user_estimation",
            data: {project_name :'<%=params[:project][:name] if params[:project]%>'}
        });
    });
</script>
