<%if @user.is_admin %>
  <%if @db_cards = Card.where(:project_id=> @project.id).where("estimation is null") %>
  <%=button_tag "Pull Cards", id: "pull_cards", :class => "btn btn-primary"%>
  <%= image_tag("ajax-loader.gif", :style=>"display:none;", :id => "loader")%>
  <div id = "past_cards"></div>
  <%else%>
  <% @db_cards = Card.where(:project_id=> @project.id)%>
  <%= render :partial => "user_estimation_cards" %>
  <%end%>
<%else%>
  <%= render :partial => "merge_cards" %>
<%end%>


<% if @user.is_admin %>
<%= simple_form_for "email_notify", :url=> 'send_email',:method => :get do |f| %>
  <%= f.input :comment, as: :text , input_html: {style: 'height:100px; width:300px;'}  %>
  <%= f.input :url, :as => :hidden, :input_html => { :value => request.url} %>
   <%= f.button :submit , 'Send Email Notification' %>
<% end %>
<% end %>

<script>
    $('#pull_cards').click(function() {
        $("#loader").show();
        $.ajax({
            url: "/projects/pull_cards",
            data: {project_name :'<%=params[:project][:name]%>'}
        });
    });
</script>
