<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Baraja: A Plugin for Spreading Items in a Card-Like Fashion" />
  <meta name="keywords" content="jquery, plugin, transform, css3, cards, spread, items, web development" />
  <link rel="stylesheet" type="text/css" href="/assets/baraja.css" />
  <link rel="stylesheet" type="text/css" href="/assets/demo.css" />
  <link rel="stylesheet" type="text/css" href="/assets/custom.css" />
  <script type="text/javascript" src="/assets/modernizr.custom.79639.js"></script>
</head>
<body>
<div class="table-responsive">
  <div>
  <%= simple_form_for(@show_card,:url => project_path(:id => @show_card.id)) do |f| %>
      <p> 
        <div class="page-header" style="border-bottom: 1px solid rgb(238, 238, 238);">
           <h3 style="color: rgb(51, 51, 51);"> <%= "#"+@show_card.number.to_s+" - " +@show_card.url %></h3>
        </div>       
      </p>    
      <p>    
        <%= raw @show_card.description.gsub("<p>&nbsp;</p>\n\n<p>&nbsp;</p>\n\n","").gsub("<h2>","<h4>") %>
      </p>
        </div>

      <div>
        <p>
          <b>Estimation:</b>
          <%= f.text_field 'estimate' ,:value=>EstimationDetail.find_by_card_id_and_user_id(@show_card.id,@user.id).try(:estimate),:required => true%>
        </p>      
     </div>


<!--<div class="container">-->

  <!--<section class="main">-->

    <div class="baraja-demo" >
      <p>
        <b>Select Your Estimation:</b>
      </p>
      <ul id="baraja-el" class="baraja-container">
        <li id="1"><%= image_tag("11.jpg")%></li>
        <li id="2"><%= image_tag("22.jpg")%></li>
        <li id="3"><%= image_tag("33.jpg")%></li>
        <li id="5"><%= image_tag("55.jpg")%></li>
        <li id="8"><%= image_tag("88.jpg")%></li>
      </ul>
    </div>
  <!--</section>-->

<!--</div>-->

          <p>
            <b>Judge your Estimation:</b>
            <%= text_area :comments, "",:cols => "15",:rows=>"4" %>
          </p>
        </div>

      <p>
        <%= f.submit :class=>"btn btn-danger" %>
      </p>
  <% end %>
</div>

<%= link_to "Back",list_cards_projects_path(:id => @show_card.id, :project => {:name => @show_card.project.mingle_name}),:class => "btn btn-primary" %>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="/assets/jquery.baraja.js"></script>
<script type="text/javascript">
    $(function() {

        var $el = $( '#baraja-el' ),
                baraja = $el.baraja();


    });
</script>
</body>
</html>
